/* styles/navbar.css */
.navbar {
    background-color: #f8f8f8;
    color: #000000;
  }

.logotipo {
  margin-left: 40vh;
  font-size: 20px;
}

.mobile {
  margin-left: 10vh;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

  .navbar a {
    color: #02640a;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.3s;
    border: 1px solid transparent;
  }
  
.menu-link:hover {
  border-bottom: 2px solid #02640a;
  padding-bottom: 4px;
}

/* NavBar.css */
.custom-link {
  color: black; /* Define a cor preta para os links */
  text-decoration: none; /* Remove sublinhado padrão */
}